g/*
*  Table of Contents:
*
*  1. CSS Inits
*  2. Main-Content
*  3. Header & Menu
*  4. home
*  5. Profile
*  6. Services
*  7. Resume
*  8. Portfolio
*  9. Blog
*  10. Contact
*  11. Media queries
*/


/*
===============================================
--------------- 1. CSS Inits ------------------
===============================================
*/

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.clear{
    clear: both;
}
body{	
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    background: #FFF;
    overflow-x: hidden;
    overflow: hidden;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}
.no-marg {
    margin-left: 0;
    margin-right: 0;
}
.no-padd {
    padding-left: 0;
    padding-right: 0;
}
.no-padd-left {
    padding-left: 0;
}
.no-padd-right {
    padding-right: 0;
}

#custumize-style{display:none;}

.section_general {
    margin-left: 4%;
}

.section_separate {
    margin-bottom: 80px;
}

.title-section {
    margin-bottom: 30px;
    margin-left: 15px;
}

.title-section  h2.section_title {
    color: #2c383c;
    margin: 0;
    padding: 0;
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-transform: capitalize;
    background:none !important;
    border:0;
}
.title-section .sep2 {
    height: 6px;
    width: 50px;
    margin: 20px 0;
}
/*
===============================================
----------------- PRELOADER -------------------
===============================================
*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999999999999;
}
.preloader .spinner {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    -webkit-animation: rotatee 2.0s infinite linear;
    animation: rotatee 2.0s infinite linear;
}
.preloader .spinner .dot1,
.preloader .spinner .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;
    -webkit-animation: bouncee 2s infinite ease-in-out;
    animation: bouncee 2s infinite ease-in-out;
}
.preloader .spinner .dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes rotatee {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotatee {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes bouncee {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}
@keyframes bouncee {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


/*
===============================================
-------------- 2. Main-Content ----------------
===============================================
*/

.wrapper-content {
    opacity:0;
}
#main {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: 275px;
    background: #fff;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
}

/*#main section.layers {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    width: 100%;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; 
}
#main section.layers.page_current {
    z-index: 1;
    left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease; 
}*/

/* opacity */
#main section.layers {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}
#main section.layers.page_current {
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
} 
#main section.layers .page_content {
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}	

.layers.page_1 {
    background: #89b32f;
}

.layers.page_2 {	
    background: #dc6c5f;
}

.layers.page_3 {
    background: #64b9d2;
}
.layers.page_4 {
    background: #f88c00;
}
.layers.page_5 {
    background: #ff5b24;
}

.layers.page_6 {
    background: #0093d0;
}

/*
===============================================
------------- 3. Header & Menu ----------------
===============================================
*/

#header2 {
    position: fixed;
    width: 275px;
    z-index: 999999999;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #191818;
    outline: none;
    color: #fff;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
    padding: 30px 20px 0 20px !important;
}

#header2.active {
    left: 0 !important;
    -moz-transition: -moz-transform 350ms ease;
    -o-transition: -o-transform 350ms ease;
    -webkit-transition: -webkit-transform 350ms ease;
    transition: transform 350ms ease;
}
#header2 #menu_closed {
    position: absolute;
    top: 3px;
    left: 3px;
    cursor: pointer;
    z-index: 1;
    display:none;
}
#header2 #menu_closed i {
    font-size: 20px;
    padding: 10px 12px;
    color: #fff;
    display: inline-block;
}
#header2 .logo{
    height:132px;
    width:132px;
    border: 5px solid #464646;
    overflow:hidden;
    margin:0 auto 15px;
    opacity:1;
    margin-bottom:0;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
}
#header2 .logo:hover,
.featured-thumbnail:hover{
    opacity:0.7;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
#header2 .logo a{
    display:block;
    text-align:center;
}
#header2 .tagline {
    margin-top: 12px;
    margin-bottom: 30px;
    padding: 0;
    color: #9d9d9d;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
    font-size: 12px;
    font-family: "Open Sans", Arial, sans-serif;
}
#header2 h4.tagline:after {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 1px;
    border-top: 1px solid #323131;
    content: "";
    margin-top: 20px;
}

/*****************************
Navigation
*****************************/

.navigation{
    margin: 35px 0px;
}
.navigation > ul > li{
    position:relative;
}
.navigation > ul > li.has-submenu:after{
    content:"\f105";
    font-family: 'FontAwesome';
    display:inline-block;
    position:absolute;
    color:#7a7e8a;
    right:15px;
    transition: all 0.4s;
    -moz-transition: all 0.4s; 
    -webkit-transition: all 0.4s; 
    -o-transition: all 0.4s;
    top:10px;
    visibility:hidden;
}
.navigation > ul > li.active.has-submenu:after,
.navigation > ul > li.has-submenu:hover:after{
    color:#fff;
}

.navigation > ul > li > a{
    display:block;
    position: relative;
    font-size: 14px;
    font-weight:normal;
    line-height: 14px;
    text-align: center;
    padding: 13px 0;
    color: #c8c8c8;
    text-transform:capitalize;
    text-decoration:none;	
    border-bottom:1px solid #323131;
}
.navigation > ul > li.active > a,
.navigation > ul > li:hover > a  {
    color: #fff;
}	
.navigation > ul > li:first-child > a {
    border-top:1px solid #323131;
}
.navigation > ul:hover > li.active > a{
    box-shadow:none;
    color:#fff;
}

.navigation ul li a i{
    margin-right:6px;
    font-size:14px;
}

/*** Sub Menu ***/
.navigation ul li ul{
    display:none;
    background-color:#2f2f2f;
}	
#header2:not(.collapsed) .navigation ul li.active ul{
    display:block;
}
.navigation ul li ul li a{
    padding:8px 25px;
    color:#fff;
    text-decoration:none;
    white-space:nowrap;
    transition: all 0.2s;
    -moz-transition: all 0.2s; 
    -webkit-transition: all 0.2s; 
    -o-transition: all 0.2s;
    font-size:13px;
    border-left:0px solid #5e6271;
    text-align:left;
    display:block;}
.navigation ul li ul li a:hover,
.navigation ul li ul li.active a{
    border-left:5px solid #5e6271;
    color:#5e6271;
}

/* social */

#header2 .social-ul  {
    float: none;
    text-align: center;
}
#header2 .social-ul ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}
#header2 .social-ul ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
}
#header2 .social-ul ul li a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #323131;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#header2 .social-ul ul li a:hover {
    color: #fff;
}
#header2 .social-ul ul li a i {
    float: none;
    margin-left: 0;
    font-size: 14px;
}
#header2 .social-ul ul li.social-twitter a:hover { background-color:#00acee; }
#header2 .social-ul ul li.social-google a:hover { background-color:#dd4b39; }
#header2 .social-ul ul li.social-facebook a:hover { background-color:#3b5998; }
#header2 .social-ul ul li.social-pinterest a:hover { background-color:#cb2027; }
#header2 .social-ul ul li.social-linkedin a:hover { background-color:#007bb6; }
#header2 .social-ul ul li.social-github a:hover { background-color:#171515; }
#header2 .social-ul ul li.social-vimeo-square a:hover { background-color:#1ab7ea; }
#header2 .social-ul ul li.social-dribbble a:hover { background-color:#ea4c89; }
#header2 .social-ul ul li.social-behance a:hover { background-color:#005cff; }
#header2 .social-ul ul li.social-soundcloud  a:hover{ background-color:#f70; }
#header2 .social-ul ul li.social-foursquare a:hover { background-color:#25a0ca; }
#header2 .social-ul ul li.social-rss a:hover { background-color:#ee802f; }
#header2 .social-ul ul li.social-youtube a:hover { background-color:#cc181e; }
#header2 .social-ul ul li.social-flickr a:hover { background-color:#ff0084; }
#header2 .social-ul ul li.social-vine  a:hover{ background-color:#00a478; }

/* Copyright */

#header2 .copyright {
    margin-top: 20px;
}
#header2 .copyright p {
    margin-top: 20px;
    margin-bottom: 0;
    color: #9e9f9f;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: capitalize;
    color: #9d9d9d;
}
#header2 .copyright p a {
    color: #c8c8c8;
    font-weight: bold;
}
#header2 .copyright p a:hover {
    text-decoration:underline;
    font-weight: bold;
}
#header2 .copyright:before {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: 1px;
    border-top: 1px solid #323131;
    content: "";
}		

/* mobile menu */

#wrappers .header2-main {
    background-repeat: repeat;
    height: 60px !important;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    margin: 0;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.1);
    z-index: 1041;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    display:none;
    border-bottom: 1px solid #e6e6e6;
    background: rgba(34,34,34,1) !important;
}

#wrappers .content_wrappers {
    width: 100%;
    padding: 0 3%;
}

#wrappers .content_wrappers .logo_wrapper {
    position: relative;
    display: inline-block;
    top: 6px !important;
    margin: 0 auto;
    width: 220px;
    left: 0;
}

#wrappers .content_wrappers .site_title {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    display: inline-block;
    line-height: 1em !important;
    font-size: 24px !important;
    margin: 7px 0 0 0;
    text-align: center;
}

#wrappers .content_wrappers .site_title a{
    line-height: 1em !important;
    font-size: 24px !important;
    margin: 8px 0 0 0;
    text-align: center;
}

#wrappers .content_wrappers .site_title a img {
    max-height: 37px;
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#wrappers .content_wrappers #btn_open_menu {
    font-size: 31px;
    float: left;
    position: absolute;
    top: 10px;
    left: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 9;
}


#wrappers .content_wrappers #btn_open_sidebar {
    font-size: 31px;
    float: left;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    text-decoration: none;
}

/*
===============================================
------------------ 4. Home --------------------
===============================================
*/

#home {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/images-fullscreen/8.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#home_style {
    padding-top: 20px;
    padding-bottom: 54px;
}

.home-profile-image {
    padding: 0 0 0 0;
    margin: 0 auto;
    margin-top: 65px;
    width: 220px;
    height: 220px;
    border: 10px solid rgba(255,255,255,0.4);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 15px;
}
.home-profile-image img {
    width: 100%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.image_profile_resp {
    display:none;
}
.image_profile_resp .home_profile_resp img {
    width: 100%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.image_profile_resp .home_profile_resp {
    padding: 0 0 0 0;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
    border: 12px solid rgba(70, 70, 70,0.1);
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.home-details {
    padding-top: 0;
    text-align: center;
}

.home-details h2.name_users{
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 6px;
    font-weight: 700;
    position: relative;
    z-index: 3;
    letter-spacing: 6px;	
    line-height: normal;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
}
.home-details h3 {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    text-transform: none;
    font-family: 'Pacifico', cursive;
}
.home-details h3.desc_users {
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    text-transform: none;
    font-family: 'Pacifico', cursive;
}

.home-details hr {
    padding: 0 0 0 0;
    margin: 15px 0 10px 0;
    height: 5px;
    width: 200px;
    background: rgba(251,251,251,0.9);
    display: inline-table;
    border: 0;
}

p.medium {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.home-details .social {
    padding: 0 0 0 0;
    margin: 15px 0 0 0;
    list-style: none;
    text-align: center;
}

.home-details .social li {
    padding: 0 0 0 5px;
    margin: 0 0 0 0;
    display: inline-table;
}

.home-details .social li a {
    margin: 0 0 0 0;
    display: block;
    border: 1px solid #fff;
    font-size: 24px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
}

.home-details .social li:hover a {
    font-size: 24px;
    color: #fff;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
/*--------------------------------------------------
--------------- words rotate -----------------------
---------------------------------------------------*/

.rw-words{
    display: inline-block; 
    min-width: 180px; 
    min-height: 29px;
    text-align: left; 
    text-indent: 4px;
    margin-left: 10px;
}
.rw-words-1 span{
    position: absolute;
    font-weight: bold;
    opacity: 0;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}

/*
===============================================
------------------ 5. Profile --------------------
===============================================
*/


.inner-text {
    padding: 37px;
}
.bg_desc {
    background-color: #f3f0f0;
}
.bg_info {
    color: #fff;
}

.my_profile .image_profile {
    background-image: url(http://placehold.it/800x991);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity:1;
}
.my_profile .image_profile:hover {
    opacity: 0.7;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
/*.my_profile .image_profile:hover {
     background-image: url(../images/team2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}*/
/*.my_profile .image_profile .overfly {
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; 
        overflow: hidden;
        height: 100%;
}
.my_profile .image_profile:hover .overfly {
        background: rgba(0, 0, 0, 0);
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; 

}*/


.my_profile .info_profile {
    float: right;
}

.my_profile .info_profile h2 {
    font-size: 40px;
    line-height: normal;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
.my_profile .info_profile .myjob {
    display: block;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 35px;
    text-transform: capitalize;
    font-family: "Open Sans", Arial, sans-serif;
}
.my_profile .info_profile .feature-desc p {
    margin-bottom: 25px;
    font-family: "Lato", "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}
.my_profile .info_profile .signature {
    padding: 30px 0 0 0;
}

.my_profile .info_profile .signature .inner {
    display: inline-block;
    text-align: center;
}
.my_profile .info_profile .signature .inner img {
    width: 140px;
}

.my_profile .info_profile .signature .name {
    display: block;
    margin-top: 15px;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
    font-style: italic;
    font-size: 11px;
    color: #555;
    text-transform: uppercase;
}

.my_profile .info_profile .inner-text ul li {
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-family: Montserrat, "Open Sans", Arial, sans-serif;
}
.my_profile .info_profile .inner-text ul li.user_name {
    text-transform:capitalize;
}
.my_profile .info_profile .inner-text ul li a {
    color: #fff;
}
.my_profile .info_profile .inner-text ul li a:hover {
    color: #fff;
    text-decoration: underline;
}
.my_profile .info_profile .inner-text ul li i {
    margin-right: 5px;
}
.my_profile .info_profile .inner-text ul li strong {
    width: 115px;
    display: inline-block;
    font-weight: normal;
}

.bg_social {
    background-color: #161117;
    padding: 15px 40px;
    text-align: center;
    padding-top: 18px;
}

#profile_social_ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
    margin-right: 15px;
}
#profile_social_ul li a {
    line-height: 25px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#profile_social_ul li a:hover {
    color: #fff;
}
#profile_social_ul li a i {
    float: none;
    margin-left: 0;
    font-size: 14px;
}

/*
===============================================
---------------- 6. Services ------------------
===============================================
*/

#service {
    //background:#fff;
}
#service .page_content{
    padding: 20px 0;
}
.margin20 {
    margin-bottom: 20px;
}

.section-header2 {
    text-align: center;
    padding: 30px 0 80px 0;
}
.section-header2 h3 {
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.section-header2 .section-title {
    line-height: 1;
}
.section-header2 p {
    font-size: 16px;
    color: #6e6a6f;
    font-family: 'Lato',"Open Sans", Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 23px;
    line-height: 22px;
}
.section-header2 .border-divider {
    background-color: #cbcbcd;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.section-header2 .border-divider:last-child {
    margin-bottom: 0;
}
.border-divider {
    width: 70px;
    height: 2px;
    display: block;
    margin: auto;
    background-color: #cbcbcd;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -khtml-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.service_intro p {
    color: #7a7c82;
    line-height: 24px;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}

.service_intro .btn_service_intro {
    color: #fff;
    border-radius: 0;
    text-transform:capitalize;
}

.service_intro .btn_service_intro:hover {
    border-color: #333;
    color: #fff;
    background-color: #333;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
.panel-body {
    padding: 15px;
    color: #999 !important;
    font-size: 14px;
    line-height: 21px;
}
.panel-group .panel {
    border-radius:0px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    color: inherit;
}
.panel-title>a {
    text-decoration:none !important;
    color: #fff !important;
}
.panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.panel {
    border: none !important;
    background-color: #F9F9F9;
}
.panel-default>.panel-heading {
    color: #fff !important;
}
.panel-default>.panel-heading {
    text-transform: capitalize;
}
.service-content {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: relative;
    padding: 20px;
    margin-top: 35px;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #eee;
    -webkit-border-radius: 1px;
    -moz-box-shadow: 0 1px 3px 0 #b5b5b5;
    -webkit-box-shadow: 0 1px 3px 0 #b5b5b5;
    box-shadow: 0 1px 3px 0 #b5b5b5;
}

.service-content h3 {
    text-align: center;
    font-size: 14px;
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
    color: #616161;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: 22px;
    text-transform: uppercase;
}
.service-content p {
    font-size: 13px;
    line-height: 22px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
    color: #7a7c82;
    font-weight: 400;
    margin-bottom: 15px;
}

.service-content .service-icon {
    position: absolute;
    left: 50%;
    top: -35px;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    border-radius: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.service-content .service-icon .fa, 
.service-content .service-icon .glyphicon {
    position: absolute;
    left: 0;
    top: 16px;
    width: 70px;
    height: 70px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
    color: #fff;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}
.service-content:hover>.service-icon .fa, 
.service-content:hover>.service-icon .glyphicon {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.service-content:hover>.service-icon {
    background-color: #434a54;
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}
.service-content:hover>h3 {
    color: #6b6e80;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.service-wrapper .service {
    text-align: center;
    padding: 0 10px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -khtml-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.service .service-icon {
    width: 90px;
    height: 90px;
    text-align: center;
    color: #323139;
    margin: 0 auto 30px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    font-size: 32px;
    display: block;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -khtml-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    overflow: hidden;
    position: relative;
}
.service .service-icon i {
    line-height: 90px;
    position: relative;
    z-index: 5;
}
.service .service-icon:before,
.service .service-icon:after {
    content: "";
    position: absolute;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    display: block;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -khtml-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.service .service-icon:before {
    z-index: 2;
    width: 86px;
    height: 86px;
    background-color: #FAFAFB;
    left: 2px;
    top: 2px;
}
.service .service-icon:after {
    top: 0;
    left: 0;
    z-index: 1;
    width: 90px;
    height: 90px;
    background-color: #323139;
}
.service .service-title {
    text-align: center;
    font-size: 14px;
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
    color: #616161;
    margin-top: 0;
    margin-bottom: 15px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    font-weight: 700;
    text-transform: uppercase;
}
.service .service-description {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -khtml-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.service .border-divider {
    width: 34px;
    margin-bottom: 13px;
}
.service .slide-down {
    font-size: 25px;
    height: 10px;
    line-height: 1;
}
.service .slide-down.active {
    display: none;
}

/* hover state */

.service:hover .service-icon i {
    -webkit-animation-name: bigEntrance;
    -moz-animation-name: bigEntrance;
    -ms-animation-name: bigEntrance;
    -o-animation-name: bigEntrance;
    animation-name: bigEntrance;
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible !important;
}

.service:hover .border-divider {
    width: 70px;
}
.service:hover .general-link {
    color: #ffffff;
}

.service p.service-description {
    font-size: 13px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    color: #7a7c82;
    font-weight: 400;
    margin-bottom: 15px;
}
/*services*/
.services-wrap{
    padding-top:60px;
    padding-bottom: 40px;
    background-color: #fff;
}
.services-box{
    clear: both;
}
.services-box-icon{
    background: transparent;
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    top: 0px;
}
.services-box-icon i{
    width:40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color:#fff;
    font-size: 20px;
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
}
.services-box-info{
    padding-left: 60px;
}
.services-box-info h4{
    font-weight: 600;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.services-box-info h4 {
    font-size: 14px;
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
    color: #616161;
    margin-top: 0;
    margin-bottom: 15px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
}
.services-box p {
    font-size: 13px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    color: #7a7c82;
    font-weight: 400;
    margin-bottom: 15px;
}

.nav-tabs {
    border-bottom: 0;
    margin-bottom: 4px;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
    cursor: pointer;
    color: #fff;
    border: 0;
}
.nav-tabs>li>a {
    margin: 0 2px;
    background-color: #f7f7f7;
    color: #74777b;
    transition: background-color 0.2s, color 0.2s;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 38px;
    font-family: "Open Sans", Arial, sans-serif;
}
.nav-tabs>li>a:hover {
    color: #fff;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 6px 35px;
    border: 0;
    border-radius: 0;
}
.nav-tabs>li>a i {
    margin: 0 0.4em 0 0;
    font-size: 14px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    margin-right: 1px;
}
.nav-tabs>li:last-child {
    margin-right: 0;
}
.nav-tabs>li>a:first-child {
    margin: 0;
}
.tab-content>.tab-pane {
    padding: 20px;
    background-color: #f8f8f8;
}
.tab-content>.tab-pane p {
    color: #7a7c82;
    line-height: 24px;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}

.services_3 h5 {
    color: #333;
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    text-align: center;
    margin: 25px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.services_3 img {
    width: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.services_3 img:hover {
    width: 100%;
    opacity: 0.5;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.services_3 p {
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
    color: #7a7c82;
    font-weight: 400;
    margin-bottom: 15px;
}

.services_3 .services_item {
    padding-left: 0;
}

/* testimonials */

.testimonials .img_testimonials {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border: 3px solid #323139;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.testimonials .img_testimonials:hover {
    -webkit-transition-duration:1s;
    -moz-transition-duration:1s;
    transition-duration:1s;
    opacity:0.7;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.testimonials p {
    padding-top: 0;
    color: #7a7c82;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}
.testimonials div.li-testimonials {
    border-right-style: dashed;
    border-right-width: 1px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding: 20px;
    border-color: #e1e1e1;
}
.testimonials div.li-testimonials:nth-child(even) {
    border-right:0;
}
.testimonials div.li-testimonials.last_testimonials {
    border-bottom:0;
}

.testimonials span {
    color: #A0A0A0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-transform:capitalize;
}
.testimonials span strong {
    text-transform:capitalize;
}

/*Pricing Page
------------------------------------*/

.no-space-pricing {
    padding: 0 15px;
}

/*Pricing Zoom  
------------------------------------*/

.pricing-zoom .pricing.active {
    -webkit-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    -webkit-transition:box-shadow 0.3s ease-in-out;
    -moz-transition:box-shadow 0.3s ease-in-out;
    -o-transition:box-shadow 0.3s ease-in-out;
    transition:box-shadow 0.2s ease-in-out;
}

.pricing-zoom .pricing:hover {
    -webkit-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.08);
    -webkit-transition:box-shadow 0.3s ease-in-out;
    -moz-transition:box-shadow 0.3s ease-in-out;
    -o-transition:box-shadow 0.3s ease-in-out;
    transition:box-shadow 0.2s ease-in-out;
}
.pricing {
    position: relative;
    border-radius: 3px;
    margin-bottom: 15px;
    box-shadow: 0 0 5px #eee;
}
.pricing-head {
    text-align: center;
}
.pricing-head h3 {
    color: #fafafa;
    padding: 12px 0;
    font-size: 35px;
    font-family: Arial;
    border-radius: 3px 3px 0 0;
    font-family: Montserrat,"Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
.pricing-head h3 span, 
.pricing-head h4 span {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    font-style: italic;
}
.pricing-head h4 {
    color: #888;
    padding: 5px 0;
    font-size: 70px;
    text-shadow: 0 1px 0 #fff;
    border-bottom: solid 1px #f5f9e7;
}
.pricing h3, 
.pricing h4 {
    margin: 0;
    line-height: normal;
    font-weight: bold;
}
.pricing-head h4 i {
    top: -8px;
    font-size: 28px;
    font-style: normal;
    position: relative;
}
.pricing-head h4 span {
    top: -10px;
    font-size: 14px;
    font-style: normal;
    position: relative;
}
.pricing-content {
    margin-bottom: 0px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.pricing-content li {
    color: #888;
    font-size: 12px;
    padding: 7px 15px;
    border-bottom: solid 1px #f5f9e7;
}
.pricing-content li i {
    font-size: 16px;
    margin-right: 5px;
    position: relative;
}
.pricing-footer {
    color: #777;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    padding: 0 20px 19px;
    border-radius: 0 0 3px 3px;
}
.pricing p {
    padding-top: 10px;
    font-size: 11px;
    color: #7a7c82;
    font-weight: 400;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
}
.btn-u:hover {
    background: #fff;
}

/*
===============================================
----------------- 7. Resume -------------------
===============================================
*/

#resume {
    background:#fff;
}

#resume .page_content {
    overflow-y: hidden;
    outline: none;
    padding: 20px 0;
}
#resume .title-section  {
    margin-left:0;
}
.title_content {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid #DDD;
}
.title_content:after {
    height: 1px;
    display: block;
    left: 0;
    content: " ";
    position: relative;
    width: 30px;
    top: 1px;
}
.title_content:after {
    height: 1px;
    display: block;
    left: 0;
    content: " ";
    position: relative;
    width: 30px;
    top: 1px;
}

.text_content {
    display: inline-block;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-top: 2px;
    margin-bottom: 5px;
}

#resume .col-md-6 span.duration {
    float: right;
}
#resume .col-md-6 ul li {
    list-style: none;
    margin-top: 20px;
}
#resume .resume-left ul li h5 {
    padding-bottom: 10px;
    color: #444;
    font-weight: bold;
}
#resume .attributes {
    margin-bottom: 30px;
}
#resume .attributes li.first{
    margin-top: 0 !important;
}

#resume .attributes .duration i{
    margin-right: 5px;
}

#resume h5,
#resume h6 {
    font-weight:400;
    margin-top: 10px;
    margin-bottom: 10px;
}
#resume p {
    color: #7a7c82;
    line-height: 24px;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}

.img_reference {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border: 3px solid #323139;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.img_reference:hover {
    -webkit-transition-duration:1s;
    -moz-transition-duration:1s;
    transition-duration:1s;
    opacity:0.7;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.reference p {
    padding-top: 8px;
}
.reference ul {
    margin-top: 15px;
}

.reference ul li {
    margin-top: 30px;
}
.reference ul li:first-child {
    margin-top: 0;
}
.reference span {
    color: #A0A0A0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-transform: capitalize;
}
#resume h6 {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
/*--------------------------------------------------
------------------- Skills bar ---------------------
---------------------------------------------------*/
.all_hobbies {
    margin-bottom: 30px;
}
.skills {
    margin-bottom: 30px;
}
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 25px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
}
.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 25px;
    line-height: 25px;
}
.skillbar-bar {
    height: 25px;
    width: 0;
}
.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    height: 25px;
    line-height: 25px;/*35*/
    color: #444;
    color: rgba(0, 0, 0, 0.4);
}

a.download{
    float: left;
    color: #ffffff;
    padding: 5px 25px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
}
a.download:hover{
    background:#fff;
}

.hobbies{
    text-align:center;
    display: inline-block;
    width: 24%;
}
.hobbies h6 {
    font-size: 12px;
    font-weight: bold !important;
    text-transform: capitalize;
    color: #999999;
}
.hobbies h6 i {
    font-size: 34px;
    width: 100%;
    margin-bottom: 10px;
}

/* clients */

.clients .img_clients {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    float: left;
    border: 3px solid #323139;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    opacity: 1;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.clients .img_clients:hover {
    -webkit-transition-duration:1s;
    -moz-transition-duration:1s;
    transition-duration:1s;
    opacity:0.7;
    -webkit-transition: opacity .6s ease-in-out;
    -moz-transition: opacity .6s ease-in-out;
    -o-transition: opacity .6s ease-in-out;
    -ms-transition: opacity .6s ease-in-out;
    transition: opacity .6s ease-in-out;
}
.clients p {
    padding-top: 0;
    color: #7a7c82;
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lato', "Open Sans", Arial, sans-serif;
}
.clients div.li-clients {
    border-right-style: dashed;
    border-right-width: 1px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding: 20px;
    border-color: #e1e1e1;
}

.clients div.li-clients:nth-child(even) {
    border-right:0;
}

.clients div.li-clients.last_clients {
    border-bottom:0;
}

.clients span {
    color: #A0A0A0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-transform:capitalize;
}
.clients span strong {
    text-transform:capitalize;
}

/*
===============================================
---------------- 8. Portfolio -----------------
===============================================
*/

div.ppt {
    display: none !important;
}

.portfolios .grid-wrap {
    margin: 10px auto 0;
    margin: 0 auto 0;
    width: 100%;
    padding: 0;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.portfolios .grid {
    position: relative;
    -webkit-transition: all 0.5s cubic-bezier(0,0,0.25,1);
    transition: all 0.5s cubic-bezier(0,0,0.25,1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.portfolios .view-full .grid {
    -webkit-transform: translateZ(-1500px);
    transform: translateZ(-1500px);
}

.portfolios .grid div,
.portfolios .grid .placeholder {
    width: 340px;
    width: 31%;
    width: 33.33%;
}

.portfolios .grid div {
    margin: 10px;
    float:left;
    margin: 0;
    cursor: pointer;
}

.portfolios .grid div.active {
    opacity: 0;
}

.portfolios .grid .placeholder {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.portfolios .placeholder > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.portfolios .placeholder .front img {
    width: 100%;
    height: 100%;
}

.portfolios .placeholder .back {
    background: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.portfolios .view-full .placeholder {
    -webkit-transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
    transition: all 0.5s 0.1s cubic-bezier(0,0,0.25,1);
}

.portfolios .vertical .view-full .placeholder {
    -webkit-transform: translateZ(1500px) rotateX(-179.9deg);
    transform: translateZ(1500px) rotateX(-179.9deg); /* FF, Chrome, can we agree on one direction, pleeease? */
}

.portfolios .horizontal .view-full .placeholder {
    -webkit-transform: translateZ(1500px) rotateY(-179.9deg);
    transform: translateZ(1500px) rotateY(-179.9deg);
}

.portfolios .grid div img {
    display: block;
    width: 100%;
}


.portfolios .view {
    width: 33.33%;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: default;
}
.portfolios .view .mask,
.portfolios .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 40px 0;
}
.portfolios .view img {
    display: block;
    position: relative;
}

.portfolios .view h4 {
    font-weight: bold;
    color: #fff;
    margin: 0px 0 5px;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;

}
.portfolios .view h4:before {
    content: '';
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0px;
    position: absolute;
}
.portfolios .view p {
    font-style: italic;
    font-size: 11px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    line-height: 22px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    margin-bottom: 0;
}
.portfolios .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
    background: #fff;
    text-transform: uppercase;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.portfolios .view a.info:hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.portfolios .view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 100%;
}
.portfolios .view-first .mask {
    background-color: rgba(39, 40, 45, 0.8);
    background-color: rgba(4, 137, 185, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition-property: opacity, -moz-transform;
    -o-transition-property: opacity, -o-transform;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    -moz-transition-duration: 0.35s;
    -o-transition-duration: 0.35s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    z-index: 4;
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    text-align: center;
}
.portfolios .view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.portfolios .view-first p {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.portfolios .view-first:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.portfolios .view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.portfolios .view-first:hover .mask {
    opacity: 1;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);

    width: 100%;
    height: 100%;
    visibility: visible;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;


}
.portfolios .view-first:hover h2,
.portfolios .view-first:hover p,
.portfolios .view-first:hover a.info {
    opacity: 1;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.portfolios .view-first:hover p {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.portfolios .view-first:hover a.info {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.portfolios  a {
    text-decoration: none !important;
}
.portfolios  .view-first a.open-imag:hover, 
.portfolios  .view-first a.external:hover {
    color: #fff;
    box-shadow: none;
}	
#genre-filter {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0, 0.7);
    overflow: hidden;
    margin: 0 40px 0 0;
    padding: 0;
    min-height: 25px;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 150;
}

#genre-filter span, 
#genre-filter li.label_filter {
    cursor: pointer;
    display: block;
    padding: 0 10px;
    color: #282828;
    line-height: 25px;
    white-space: nowrap;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
}

#genre-filter li {
    border-left: 1px solid #eaeaea;
    float: left;
    display: none;
}	

#genre-filter li:hover span,
#genre-filter li span.active {
    color: #fff;
}

#genre-filter li.label_filter {
    background: transparent -9px -63px no-repeat;
    background-image: url(../images/icons.png);
    background-size: 50px 1150px;
    display: block;
    border: none;
    padding-left: 30px;
}

#portfoliolist .portfolio {
    display:none;
}

#portfoliolist .cat-portfolio {
    text-transform: capitalize;
    font-style: italic;
}

#portfoliolist .portf_detail {
    position: absolute;
    width: 100%;
    bottom: 20%;
    text-align: center;
    z-index: 99;
}

/* single portfolio */

.single-portfolio .fc-page-title-breadcrumbs {
    width: 100%;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.single-portfolio .fc-page-title-breadcrumbs .fc-page-title {
    max-width: 1170px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper {
    opacity: 1;
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper .fc-page-title-captions {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align:center;
}

.single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper .fc-page-title-captions h1 {
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 800;
    line-height: 26px;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.single-portfolio  .post-image-wrap {
    padding: 30px;
}

.single-portfolio  .post-image-wrap img {
    width: 100%;
    margin-top: 20px;
}

.single-portfolio .content {
    padding: 0 15px;
    margin-top: 10px;
}

hr.separate_port {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #d8d9dc;
}
.section-title hr {
    width: 30px;
    height: 3px;
    background: #000000;
    margin: 15px auto;
    border: none;
}
.section-title.text-left hr {
    margin: 15px 0;
}
.single-portfolio .content .content-split {
    border-right: 1px solid #E0E0E0;
}

.single-portfolio .content h3.entry-title {
    font-size: 18px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.single-portfolio .content h3.entry-title:after {
    background: #141414;
    content: "";
    display: block;
    height: 3px;
    margin: 15px 0;
    width: 20px;
}

.single-portfolio .content .portfolio-sidebar div {
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:22px;
    color: #555555;
}
.single-portfolio .content .portfolio-sidebar div .project-terms,
.single-portfolio .content .portfolio-sidebar div a {
    font-size: 13px;
    color: #747474;
}
.single-portfolio .content .portfolio-nav {
    display: block;
}

.single-portfolio .content .portfolio-nav ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.single-portfolio .content .portfolio-nav ul li a{
    float: left;
    font-size: 16px;
    background: #d0d0d0;
    padding: 5px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFFFFF;
    margin-right: 5px;
    line-height: 24px;
}
.single-portfolio .content .portfolio-nav ul li i {
    color: #fff;
}

.single-portfolio .content .portfolio-nav #all-items a {
    font-size: 14px !important;
}

.single-portfolio p {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Lato', 'Open Sans', sans-serif;
    letter-spacing: 0;
    color: #555;
    margin: 0 0 20px 0;
    padding: 0;
}
.overlay_single_portfolio {
    display: none; 
    position: absolute; 
    z-index: 3000; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    min-height: 100%; 
    overflow-x: hidden; 
    background: #fff;
}
.single-portfolio {
    margin: 0 auto; 
    width: 100%; 
    display: none;
}

.section-title h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 900;
    color: #000000;
    font-family: 'Lato', 'Open Sans', sans-serif;
}
.btn_close_port {
    margin-left: 0;
    border-width: 0;
    line-height: 70px;
    width: 70px;
    font-size: 16px;
    background: #fff;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0;
    top: 14%;
}
.hide_next,
.hide_prev {
    display:none;
}


/*
===============================================
------------------ 9. Blog --------------------
===============================================
*/

/*image animation zoom*/
.image-link {
    display: block;
    overflow: hidden;
    cursor:pointer;
}

.image-link img {
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;

    -webkit-transition-duration:1s;
    -moz-transition-duration:1s;
    transition-duration:1s;
    opacity:1;
    filter: alpha(opacity=100); 

}

.image-link:hover img {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity:0.6;
    filter: alpha(opacity=60);
}

#blog{
    background: #F1F1F1;
}

#blog .page_content{
    padding: 10px;
}

/*Grid blog*/

.blog-content-grid {
    margin-right: 0;
}
.blog-content-grid .row {
    margin-left: 0;
    margin-right: 0;
}

.blog-content-grid [class*="col-"] {
    padding-left: 6px;
    padding-right: 6px;
}

.blog-content-grid article{
    margin-right: 0;
    margin-bottom: 15px;
    position: relative;
    background-color: #ffffff;
    padding:0px; 
    -webkit-box-shadow: 0 1px 0 0 rgba(125,125,125,.15);
    -moz-box-shadow: 0 1px 0 0 rgba(125,125,125,.15);
    box-shadow: 0 1px 0 0 rgba(125,125,125,.15);
}
.blog-content-grid article img{
    width:100%;
}
.blog-content-grid article .post-body{
    padding: 20px;
    padding-bottom: 12px;
    padding-bottom: 70px;
}
.blog-content-grid article h3.post-title{
    font-family: 'Merriweather',"Open Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -1px;
    color: #333333;
    padding: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.blog-content-grid article h3.post-title a {
    color: #333333;
    text-decoration: none;
}


.blog-content-grid article .post-body .post-meta ul {
    text-align: left;
    padding-left: 0;
    list-style: none;
    margin-bottom: 15px;
    margin-top: 15px;
}
.blog-content-grid article .post-body .post-meta ul li {
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    color: #9da3a8;
    display: inline-block;
    padding: 0;
    font-weight: 400;
    line-height: 1.6;
}

.blog-content-grid article .post-body .post-meta ul li.separate_li,
.blog-content-grid article .post-body .post-meta ul li:first-child	{
    padding: 0;
}

.blog-content-grid article .post-body .post-meta ul li i {
    font-size: 12px;
    margin-right: 5px;
    color: #a3a9b0;
    position: relative;
    top: 1px;
}

.blog-content-grid article .post-content p {
    font-family: "Open Sans", Arial, sans-serif;
    color: #555;
    letter-spacing: 0;
    font-weight: 400;
    margin: 0 0 15px 0;
    margin-bottom: 0;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 1.9em;
    margin-top: 15px;
}

.blog-content-grid article a.read_more_but {
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 24px;
    font-size: 13px;
    text-transform: capitalize;
    margin: 0;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 100%;
    border: 2px solid #e3e3e3;
    color: #9ba1a8;
    padding: 9px 12px;
}

.blog-content-grid article a.read_more_but:hover {
    color: #fff;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.blog-content-grid article .footer_post ul{
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #e3e3e3;
    display: block;
    margin: 0;
}

.blog-content-grid article .footer_post ul li{
    display: inline-block;
    padding: 15px 10px;
    width: 25%;
    text-align: center;
    border-right: 1px solid #e3e3e3;
    margin: 0;
    float: left;
    position: relative;
    z-index: 0;
    font-size: 13px;
    color: #9ba1a8;
    text-transform: capitalize;
}



.blog-content-grid article .footer_post ul li:after{
    z-index:-1;
    content:"";
    width:100%;
    height:0;
    bottom:0;
    left:0;
    position:absolute;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#12000000',GradientType=0 ); /* IE6-9 */
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog-content-grid article .footer_post ul li:hover:after{
    height:100%;
}

.blog-content-grid article .footer_post ul li:before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    opacity: 0;
}

.blog-content-grid article .footer_post ul li:before{
    bottom:0;
    left:50%;
}
.blog-content-grid article .footer_post ul li:hover:before{
    left:0;
}
.blog-content-grid article .footer_post ul li:last-child{
    border-right:none;
}

.blog-content-grid article .footer_post ul li i{
    vertical-align:middle;
}




.blog-content-grid article .footer_post ul li:hover:before{
    width:100%;
    opacity:1;
}
.blog-content-grid article .footer_post ul li a{
    color:#9ba1a8;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.blog-content-grid article .footer_post ul li i{
    margin-right: 7px;
    display:inline-block;
    vertical-align:middle;
    color:#9da3a8;
    -webkit-transition: all 300ms!important;
    -o-transition: all 300ms!important;
    transition: all 300ms!important;
    position: relative;
    top: -1px;
}

.blog-content-grid article .footer_post ul li i:first-child{
    margin-right: 0;
}


.blog-content-grid article .post-quote {
    font-family: "Open Sans", Arial, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.blog-content-grid article .post-quote .post-inner {
    color: #FFF;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 0;
}

.blog-content-grid article .post-quote .post-inner p {
    color: #FFF;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 28px;
    font-style: italic;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
}
.blog-content-grid article .post-quote .post-inner .author {
    font-size: 13px;
    font-style: italic;
    margin-top: 10px;
    display: block;
    text-align: center;
}
/*pagination*/
.main-pagination {
    overflow: hidden;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-pagination .page-numbers.current, 
.main-pagination a:hover {
    color: #fff;
    text-decoration: none;
}
.main-pagination .page-numbers, 
.main-pagination a {
    display: inline-block;
    color: #fff;
    padding: 5px 15px;
    margin-right: 0;
    background: #808080;
    line-height: 25px;
    font-size: 13px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: "Open Sans", Arial, sans-serif;
}
.visuallyhidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.post-meta a.author_post:hover,
.post-meta a.categ_post:hover{
    color:#333333;
    text-decoration:underline;
}
/*
===============================================
---------------- 10. Contact ------------------
===============================================
*/

#map img {
    max-width: none !important;
}

#map {
    display: block;
    width: 100% !important;
    height: 450px !important;
    margin: 0 auto;
}
#map.large {
    height: 500px;
}
.overlay {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 60px;
    line-height: 80px;
    opacity: 0.8;
    background: #4477aa;
    border: solid 3px #336699;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #333;
    text-shadow: 1px 1px 1px #666;
    padding: 0 4px;
}
.overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute;
}
.overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #336699;
}
.overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #336699;
}


#contentContact .innerpadding #contentContact .innerpadding #contacts_social_ul ul li a {
    background-color: #2E3434;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#contentContact .innerpadding #contacts_social_ul ul li.social-twitter a:hover { background-color:#00acee !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-google a:hover { background-color:#dd4b39 !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-facebook a:hover { background-color:#3b5998 !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-pinterest a:hover { background-color:#cb2027 !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-linkedin a:hover { background-color:#007bb6 !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-github a:hover { background-color:#171515 !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-vimeo-square a:hover { background-color:#1ab7ea !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-dribbble a:hover { background-color:#ea4c89 !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-behance a:hover { background-color:#005cff !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-soundcloud  a:hover{ background-color:#f70 !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-foursquare a:hover { background-color:#25a0ca !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-rss a:hover { background-color:#ee802f !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-youtube a:hover { background-color:#cc181e !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-flickr a:hover { background-color:#ff0084 !important; }
#contentContact .innerpadding #contacts_social_ul ul li.social-vine  a:hover{ background-color:#00a478 !important; }

#contentContact .innerpadding h2 {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    /*font-family: 'Montserrat', 'Open Sans', sans-serif;*/
    margin-bottom: 25px;
    text-transform: uppercase;
}

#contentContact .innerpadding h2:after {
    background: #4D5655;
    content: "";
    display: block;
    height: 3px;
    margin: 15px 0;
    width: 20px;
}

#contentContact .innerpadding .separte-content {
    margin-bottom: 35px;
    border-bottom: 1px solid #4D5655;
    padding-bottom: 20px;
}

#contentContact .innerpadding .contact-info, 
#contentContact .innerpadding .contact-form {
    float: none !important;
    margin-bottom: 0 !important;
}

#contentContact .innerpadding ul.info_contact li {
    color: #9E9FA1;
    font-size: 13px;
    line-height: 26px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
}
#contentContact .innerpadding ul.info_contact li span {
    margin-right: 10px;
}
#contentContact .innerpadding ul.info_contact li a {
    color: #9E9FA1;
}
#contentContact .innerpadding ul.info_contact li a:hover {
    text-decoration: none;
}
#mapContainer2 img {
    max-width: none !important;
}

#mapContainer2 {
    position: fixed;
    width: 100%;
    width: 80%;
    height: 100%;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
#mapContainer2 #map_canvas #gmaps {
    text-align: center;
    margin-top: 17px;
}

#mapContainer2 #map_canvas #gmaps img {
    margin-bottom: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 115px;
    width: 115px;
}

#tabs2 {
    position: absolute;
    z-index: 99;
    width: 0;
    height: 0;
    border-width: 80px 80px 0 0;
    border-style: solid;
    border-color: #333;
    color: #fff;
    font-size: 24px;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%;
    right: 25%;
    bottom: 150px;
    display:block;
}
#tabs2 i {
    position: absolute;
    top: -52px;
    left: 28px;
}

#tabs_22 {
    position: absolute;
    z-index: 99;
    width: 0;
    height: 0;
    border-width: 80px 80px 0 0;
    border-style: solid;
    border-color: #333;
    color: #fff;
    font-size: 24px;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%;
    right: 25%;
    bottom: 150px;
    display:block;
}
#tabs_22 i {
    position: absolute;
    top: -52px;
    left: 28px;
}

#tabs_resp2 {
    position: absolute;
    z-index: 99;
    width: 0;
    height: 0;
    border-width: 80px 80px 0 0;
    border-style: solid;
    border-color: #333;
    color: #fff;
    font-size: 24px;
    line-height: 0;
    cursor: pointer;
    border-radius: 50%;
    right: 25%;
    bottom: 150px;
    display:none;
}
#tabs_resp2 i {
    position: absolute;
    top: -52px;
    left: 28px;
}
img {
    border: 0px;
}
#contentContact{
    padding: 30px 20px 0 20px !important;
    position: fixed;
    left: -350px;
    top: 0px;
    width:320px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    background: #3B4141;
    color: #FFFFFF;
    z-index: 1001;
}

#contentContact.two {
    width: 350px;
}

#contentContact .innerpadding {
    padding: 80px 20px 0px 20px;
    padding: 0 10px 10px 10px;
}

#contentContact .innerpadding label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #444444;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

#contentContact .innerpadding .btn-cta-contact-2 {
    background-color: #2E3434;
    color: #fff;
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 15px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#contentContact .innerpadding .btn-cta-contact-2 i.fa {
    font-size: 14px;
    margin-left: 5px;
}
#contentContact .innerpadding .btn-cta-contact-2:hover {
    color: #fff;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#contentContact .innerpadding .form-control {
    background: #2E3434;
    border: 1px solid #2E3434;
    padding: 7px 14px;
    outline: 0;
    font-size: 12px;
    color: #a6a6a6;
    max-width: 100%;
    margin-top: 12px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px;
    height: 35px;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-weight: 400;
}
#contentContact .innerpadding textarea.form-control  {
    height: 130px;
}

#contentContact .innerpadding .form-group {
    margin-bottom: 0;
}


#contentContact .innerpadding .form-group .form-control {
    padding-left: 30px !important;
    margin-bottom: 20px !important;
    font-size: 12px !important;
    text-transform: capitalize !important;
    margin-top: 0 !important; 
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#contentContact .innerpadding .form-group  i.icon-contact {
    position: absolute;
    left: 25px;
    font-size: 15px;
    z-index: 1;
    top: 10px;
    color: #a3a9b0;
}

#contentContact .innerpadding .form-group  #contacts-message i.icon-contact {
    top: 10px !important;
}
/* button colsed in sidebar */
#contentContact .contact_closed {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
    background-color: #2f3434;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#contentContact .contact_closed i {
    font-size: 20px;
    padding: 10px 12px;
    color: #fff;
    display: inline-block;
}
#contentContact .contact_closed:hover {
    background-color: #292d2d;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
/* ======= contact_social_ul ======= */

#contact_social_ul ul ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
}

#contact_social_ul ul ul li a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #222;
    display: inline-block;
    overflow: hidden;

    color: #fff;
    border: 1px solid #222;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}


#contact_social_ul  {
    float: none;
}

#contact_social_ul ul li {
    float: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    list-style: none;
    line-height: normal;
}

#contact_social_ul ul li a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #222;
    display: inline-block;
    overflow: hidden;

    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

}
#contact_social_ul ul li a:hover {
    color: #fff;
}

#contact_social_ul ul li a i {
    float: none;
    margin-left: 0;
    font-size: 14px;
}

#contact_social_ul ul li.social-twitter a:hover { background-color:#00acee !important; }
#contact_social_ul ul li.social-google a:hover { background-color:#dd4b39 !important; }
#contact_social_ul ul li.social-facebook a:hover { background-color:#3b5998 !important; }
#contact_social_ul ul li.social-pinterest a:hover { background-color:#cb2027 !important; }
#contact_social_ul ul li.social-linkedin a:hover { background-color:#007bb6 !important; }
#contact_social_ul ul li.social-github a:hover { background-color:#171515 !important; }
#contact_social_ul ul li.social-vimeo-square a:hover { background-color:#1ab7ea !important; }
#contact_social_ul ul li.social-dribbble a:hover { background-color:#ea4c89 !important; }
#contact_social_ul ul li.social-behance a:hover { background-color:#005cff !important; }
#contact_social_ul ul li.social-soundcloud  a:hover{ background-color:#f70 !important; }
#contact_social_ul ul li.social-foursquare a:hover { background-color:#25a0ca !important; }
#contact_social_ul ul li.social-rss a:hover { background-color:#ee802f !important; }
#contact_social_ul ul li.social-youtube a:hover { background-color:#cc181e !important; }
#contact_social_ul ul li.social-flickr a:hover { background-color:#ff0084 !important; }
#contact_social_ul ul li.social-vine  a:hover{ background-color:#00a478 !important; }


/*
===============================================
------------- 11. Media queries ---------------
===============================================
*/

@media screen and (max-width: 992px){

    .section_general {
        margin: 0 20px;
    }

    .home-profile-image {
        margin-top: 40px;
    }
    #header2 {
        left: -320px;
        -moz-transition: -moz-transform 350ms ease;
        -o-transition: -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
    }

    #wrappers .header2-main {
        display:block;
    }
    #main {
        margin-left: 0;
        margin-top: 60px;
        -moz-transition: -moz-transform 350ms ease;
        -o-transition: -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
    }
    #map_canvas {
        height: 100% !important;
        width: 100% !important;
    }
    #contentContact {
        top: 60px;
    }
    #tabs2,
    .my_profile .image_profile{
        display: none !important;
    }

    #tabs_resp2{
        display: block !important;
    }
    .my_profile .image_profile_resp{
        display: block !important;
        background-color: #f3f0f0;
    }
    #contentContact .contact_closed{
        display: block !important;
    }

    #contentContact {
        top: 60px;
    }
    .single-portfolio .content .content-split {
        border-bottom: 1px solid #E0E0E0;
        border-right: none;
        margin-bottom: 30px;
    }

    .single-portfolio .content {
        margin-bottom: 20px;
    }
    #main section.layers {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    #main section.layers.page_current {
        z-index: 1;
        opacity: 1;
        -webkit-transition: opacity .6s ease-in-out;
        -moz-transition: opacity .6s ease-in-out;
        -o-transition: opacity .6s ease-in-out;
        -ms-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
    }
    .para_serv {
        margin-bottom: 15px;
    }
    .testimonials div.li-testimonials,
    .testimonials div.li-testimonials.last_testimonials,
    .clients div.li-clients,
    .clients div.li-clients.last_clients{
        border: 0;
        border-bottom: 1px dashed #e1e1e1;
    }
    .testimonials div.li-testimonials:last-child,
    .clients div.li-clients:last-child	{
        border-bottom: 0;
    }
    .my_profile .info_profile .myjob,
    .my_profile .info_profile h2	{
        text-align: center;
    }
    .services_3 .services_item {
        margin-bottom: 30px;
    }
    .services_3 .services_item:last-child {
        margin-bottom: 0;
    }
    #mapContainer2 {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    #portfoliolist .portf_detail {
        position: absolute;
        width: 100%;
        bottom: 10%;
    }
}
@media screen and (max-width: 736px){

    .single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper {
        text-align: center;
    }

    .single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper .fc-page-title-captions {
        display: block;
        vertical-align: middle;
        width: 100%;
        margin: 20px 0 10px 0;
    }

    .single-portfolio .fc-page-title-breadcrumbs ul.breadcrumbs {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        text-align: center;
    }

    .portfolios .grid div.view{
        width: 50% !important;
    }

}

@media screen and (max-width: 490px){

    .portfolios .grid div.view {
        width: 100% !important;
    }
    .service-content {
        margin-top: 50px;
    }

    #portfoliolist .portf_detail {
        bottom: 20% !important;
    }

    #genre-filter li.label_filter {
        text-align: left;
    }

    #genre-filter li {
        border-top: 1px solid #eaeaea;
        border-left: 0;
        float: none;
        text-align: center;
    }

}
@media screen and (max-width: 414px){
    .home-details h2.name_users{
        font-size: 40px;
    }
    .home-details h3.desc_users{
        font-size: 25px;
    }
    p.medium {
        font-size: 14px;
    }
    .home-profile-image{
        margin-top: 30px;
    }
    .no-padd-left {
        padding-left: 0;
        padding-right: 0;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
    .btn_close_port {
        top: 30%;
        right: 7px;
        line-height: 30px;
        width: 30px;
    }
}
@media screen and (max-width: 375px){

    #header2 .menu_closed{
        display: block !important;
    }
    #contentContact.two {
        width: 100% !important;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        height: 100%;
        padding-bottom: 15px;
    }
    .home-details h2.name_users{
        font-size: 30px;
    }
    .home-details h3.desc_users{
        font-size: 18px;
    }
    p.medium {
        font-size: 12px;
        line-height: 20px;
    }
    .home-profile-image{
        margin-top: 20px;
    }
    .home-details .social li a {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .my_profile .info_profile h2 {
        font-size: 30px;
    }
    .image_profile_resp .home_profile_resp {
        margin-bottom: 0px;
    }
    .bg_desc .inner-text {
        padding-top: 20px;
    }
    .my_profile .info_profile .inner-text ul li strong {
        width: inherit;
    }
    .section-header2 h3 {
        font-size: 17px;
    }
    .section-header2 p {
        font-size: 13px;
        margin: 0 0 15px;
    }
    .para_serv {
        margin-bottom: 15px;
    }
    .nav-tabs>li {
        width: 100%;
        margin-bottom: 1px;
        margin-right: 0;
    }
    .testimonials div.li-testimonials,
    .testimonials div.li-testimonials.last_testimonials,
    .clients div.li-clients,
    .clients div.li-clients.last_clients{
        border: 0;
        border-bottom: 1px dashed #e1e1e1;
    }
    .testimonials div.li-testimonials:last-child,
    .clients div.li-clients:last-child	{
        border-bottom: 0;
    }
    .no-padd-left {
        padding-left: 0;
        padding-right: 0;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
    .btn_close_port {
        top: 30%;
        right: 7px;
        line-height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 240px){
    .portfolios .view p{
        display: none !important;
    }
}
// Page Cover
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}
img.fb-image-lg {
    width: 100%;
}
@media (max-width:768px) {

    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%;
        height: 200px !important;
    }
}

// Timeline
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

// Page Status
.facebook-share-box {
    width: 100%;
}
.facebook-share-box .share {
    -webkit-transition: 0.1s ease-out height;
    -moz-transition: 0.1s ease-out height;
    -ms-transition: 0.1s ease-out height;
    -o-transition: 0.1s ease-out height;
    transition: 0.1s ease-out height;
    clear: both;
    background: white;
    border: 2px solid #dddddd;
    margin-bottom: 10px;
    position: relative;
}

.facebook-share-box .share .arrow {
    background: url(../images/arrow.png) no-repeat #dddddd;
    position: absolute;
    width: 14px;
    height: 10px;
    left: 4px;
    display: inline;
    top: -10px;
    -webkit-transition: 0.3s ease-out all;
    -moz-transition: 0.3s ease-out all;
    -ms-transition: 0.3s ease-out all;
    -o-transition: 0.3s ease-out all;
    transition: 0.3s ease-out all;
}

.facebook-share-box .post-types li a {
    color: #085083;
    text-decoration: none;
}

.facebook-share-box .post-types li a.active {
    color: #404040;
}

.facebook-share-box .post-types {
    padding-left: 5px;
}

.facebook-share-box ul {
    list-style: none;
    margin-bottom: 9px;
}

.facebook-share-box .post-types li {
    display: inline;
    margin-right: 10px;
}

.message {
    border-radius: 0;
    border: none;
}
.panel {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.privacy-dropdown {
    width: 100px;
}
#timelineContainer{width:100%;position:relative}
#timelineBackground {
    height: 315px;
    position: relative;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    margin-top: -20px;
    overflow: hidden;
    background-color:#ffffff;
}
#timelineProfilePic {
    width: 170px;
    height: 170px;
    border: 1px solid #666666;
    background-color: #ffffff;
    //position: absolute;
    //margin-top: -145px;
    //margin-left: 20px;
    overflow: hidden;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#timelineTitle {
    color: #ffffff;
    font-size: 24px;
    //margin-top: -45px;
    //position: absolute;
    //margin-left: 206px;
    font-weight: bold;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
    text-transform: capitalize;
}

#timelineShade {
    min-height: 95px;
    position: absolute;
    margin-top: -95px;
    width: 100%;
}

#timelineNav {
    border: 1px solid #d6d7da;
    background-color: #ffffff;
    min-height: 43px;
    margin-bottom: 10px;
    position: relative;
    border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}


.timelineUploadBG {
    margin-left: 120px;
    //margin-top: 64px;
    height: 32px;
    width: 32px;
    position: absolute;
    text-align: center;
}

.uploadFile {
    background: url('../images/whitecam.png') no-repeat;
    height: 32px;
    width: 32px;
    overflow: hidden;
    cursor: pointer;
}
.uploadFile input {
    filter: alpha(opacity=0);
    opacity: 0;
    margin-left: -110px;
}

.custom-file-input {
    height: 25px;
    cursor: pointer;
}
.bgImage,#timelineBGload
{
    width:100%;
}

.headerimage {
    cursor: s-resize;
    position: absolute;
}

.wallbutton:hover {
    text-decoration: none;
}
.blackButton {
    background-color: #666666;
    border-color: #333333;
}
.bgSave {
    position: absolute;
    margin-top: 267px;
    margin-left: 760px;
    z-index: 4000;
}

.wallbutton {
    font-weight: bold;
    padding: 7px 9px;
    background-color: #5fcf80;
    color: #fff !important;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
    text-decoration: none;
    border-width: 1px 1px 3px !important;
    border-style: solid;
    border-color: #3ac162;
    white-space: nowrap;

    display: -moz-inline-stack;

    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

}